# 01. Importing libraies

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Concatentating data

In [ ]:
#define a dictionary containing January 2020 data
data1 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
    'purchased_meat':[0, 13, 3, 4],
    'purchased_alcohol':[1, 2, 10, 0],
    'purchased_snacks':[10, 5, 1, 7]}

In [ ]:
#define a dictionary containing February 2020 data
data2 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Feb-20', 'Feb-20', 'Feb-20', 'Feb-20'],
    'purchased_meat':[0, 10, 5, 3],
    'purchased_alcohol':[2, 4, 14, 0],
    'purchased_snacks':[15, 3, 2, 6]}

In [ ]:
#convert the dictionaries into dataframes
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
df_1 = pd.DataFrame(data2,index=[0, 1, 2, 3])

In [ ]:
df

In [ ]:
df_1

In [ ]:
#concatentate the dataframes in a long format
frames = [df, df_1]
df_long_concat = pd.concat(frames)
df_long_concat

In [ ]:
#concatentate the dataframes in a wide format
df_wide_concat = pd.concat(frames, axis = 1)
df_wide_concat

# 03. Appending data

In [ ]:
#append df_1 onto df
df_appended = df.append(df_1)
df_appended

In [ ]:
#create data with different columns from df
data3 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
    'days_purchased_on':[0, 13, 3, 4]}

In [ ]:
#convert to dataframe
df_2 = pd.DataFrame(data3,index=[0, 1, 2, 3])
df_2

In [ ]:
#append df_2 onto df
df_append_test = df.append(df_2)
df_append_test

# 04. Merging data

In [ ]:
df_merged = df.merge(df_2, on = 'customer_id')
df_merged

In [ ]:
df_merged = df.merge(df_2, on = ['customer_id', 'month'])
df_merged

In [ ]:
#check for a full match
df_merged = df.merge(df_2, on = ['customer_id', 'month'], indicator = True)
df_merged

In [ ]:
#check how many matches there are
df_merged['_merge'].value_counts()

In [ ]:
#test merge without overwriting dataframe or creating new one
pd.merge(df,df_2, on = ['customer_id', 'month'], indicator = True)

In [ ]:
df.merge(df_2, on = ['customer_id', 'month'], how = 'inner')
df_merged

For how, you can also put right, left, or outer. Inner merge is the default. Note that using how will cause the '_merge' column to appear at the end

# 05. Merging instacart data

In [2]:
#create a path
path = r'C:\Users\Maya\OneDrive\Documents\CareerFoundry\Achievement 4 - Python Fundamentals for Data Analysts\Jupyter Instacart Basket Analysis'
#import order_products__prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'order_products__prior.csv'), index_col = False)
#import orders_wrangled.csv
df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [3]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [3]:
#check the first 5 rows of df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
#check the first 5 rows of df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [5]:
#drop unnecessary column of df_ords
df_ords.drop("Unnamed: 0", axis=1, inplace=True)
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [6]:
#check shape of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [7]:
#check shape of df_ords
df_ords.shape

(3421083, 6)

In [8]:
#merge (inner join) df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
#check first 5 rows of merged dataframe
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
df_merged_large.shape

(32434489, 10)

# Step 2

In [13]:
#Export the merged file in pickle format as 
#“orders_products_combined.pkl”.

# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))