In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

# Step 3

In [3]:
#In a new notebook, import the orders_products_combined 
#dataframe from the pickle file you just saved.

#create a path
path = r'C:\Users\Maya\OneDrive\Documents\CareerFoundry\Achievement 4 - Python Fundamentals for Data Analysts\Jupyter Instacart Basket Analysis'
#import orders_products_combined.csv
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_clean.csv'), index_col = False)
df_prods = df_prods.drop(columns = ['Unnamed: 0'])
#import orders_products_combined.csv
df_orders_products_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49670.000000  49670.000000   49670.000000  49670.000000
mean   24850.238716     67.761305      11.728770      7.680437
std    14340.931850     38.316060       5.850834      4.199381
min        1.000000      1.000000       1.000000      1.000000
25%    12432.250000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.750000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000     25.000000

In [5]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
df_prods.shape

(49670, 5)

In [7]:
df_orders_products_combined.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
count,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.035642e+07,3.243449e+07,3.243449e+07,3.243449e+07
mean,1.710749e+06,1.029372e+05,1.714205e+01,2.738818e+00,1.342498e+01,1.110407e+01,2.557634e+04,8.351076e+00,5.896975e-01
std,9.873007e+05,5.946648e+04,1.753504e+01,2.090049e+00,4.246365e+00,8.778914e+00,1.409669e+04,7.126671e+00,4.918886e-01
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,8.559430e+05,5.142100e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.353000e+04,3.000000e+00,0.000000e+00
50%,1.711048e+06,1.026110e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.525600e+04,6.000000e+00,1.000000e+00
75%,2.565514e+06,1.543910e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.793500e+04,1.100000e+01,1.000000e+00
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00

In [8]:
df_orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

# Step 4

In [9]:
#Check the shape of the imported dataframe 
#(it should be the same as the one you exported—always check!).

df_orders_products_combined.shape

(32434489, 10)

# Step 5

In [10]:
#Determine a suitable way to combine the orders_products_combined 
#dataframe with your products data set. #Make sure you’re using 
#your wrangled, cleaned, and deduped products data set stored 
#in your “Prepared Data” folder from the previous Exercise’s task.

df_merged = df_prods.merge(df_orders_products_combined, on = 'product_id')

In [11]:
df_merged.shape

(32399732, 14)

# Step 6

In [12]:
#Confirm the results of the merge using the merge flag.

df_merged['_merge'].value_counts()

both          32399732
left_only            0
right_only           0
Name: _merge, dtype: int64

# Step 7

In [13]:
#Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

df_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))